<section class="p-contact">
  <div class="p-contact__inner">

    <div class="p-contact__img  c-fadein">
      <img src="assets/images/shakeHands.png" alt="img"/>
    </div>
    <div class="p-contact__ttl">
      <span class="particletext confetti">Contact me!</span>
    </div>

    <div class="p-contact__txtWrap">
      <div class="p-contact__github">
        <a href="https://github.com/anna004">
          <img src="assets/images/githubIcon.png" alt="icon"/>
        </a>
      </div>
      <ul>
        <li>080-5122-5844</li>
        <li>anna.kitamura004@gmail.com</li>
      </ul>
    </div>


    <div class="c-parts">04 &emsp;
      <h2 class="c-parts__ttl">Contact</h2>
    </div>

  </div> <!-- contact__inner end-->
</section>