<section class="p-hero">
  <div  class="p-hero__kv">
    <video controls loop autoplay muted width=100%>
      <source src="assets/images/Blurred Video of Scripts Being Typed.mp4"></source>
      <source src="video.webm"></source>
      <source src="video.ogg"></source>
    </video>
  </div>

    <p class="p-hero__job">web engineer&ensp;/&ensp;web design</p>
    <div class="p-hero__scrolldown">
      <p class="p-hero__scrolldown__txt">Scroll</p>
    </div>
</section>