
<section class="p-skill">
  <div>
    <ul class="tabs-controls">
      </li>
      <li class="tabs-controls__item">
        <a href="#" class="tabs-controls__link" data-id="1">
          HTML,CSS/SCSS
        </a>
      </li>
      <li class="tabs-controls__item">
        <a href="#" class="tabs-controls__link" data-id="2">
          Javascript
        </a>
      </li>
      <li class="tabs-controls__item">
        <a href="#" class="tabs-controls__link" data-id="3">
          Ruby
        </a>
      </li>
      <li class="tabs-controls__item">
        <a href="#" class="tabs-controls__link" data-id="4">
          Illustrator
        </a>
      </li>
      <li class="tabs-controls__item">
        <a href="#" class="tabs-controls__link" data-id="5">
          Photoshop
        </a>
      </li>
    </ul>
  </div>

  <div class="cards-container  c-fadein">
    <div class="card card--current" id="1">
      <div class="card__txtWrap">
        <p class="card__ttl">HTML,<br>CSS/SCSS</p>
        <p class="card__txt">
          ・Webサイトの制作<br>
          ・動きがシンプルなアニメーションの実装
        </p>
      </div>
      <figure class="p-skill__pie chart--1">
        <div class="p-skill__pie__chartRate">100%</div>
      </figure>
    </div>
    <div class="card card--current" id="2">
      <div class="card__txtWrap">
        <p class="card__ttl">Javascript</p>
        <p class="card__txt">
        作成物<br>
        ・スライドショー<br>
        ・フリックによるスライド<br>
        ・神経衰弱<br>
        ・楽天検索総合API etc.
        </p>
      </div>
      <figure class="p-skill__pie chart--2">
        <div class="p-skill__pie__chartRate">90%</div>
      </figure>
    </div>
    <div class="card card--current" id="3">
      <div class="card__txtWrap">
        <p class="card__ttl">Ruby</p>
        <p class="card__txt">
          Ruby on railsによるシステム開発<br>
          ・viewファイルの保守運用
        </p>
      </div>
      <figure class="p-skill__pie chart--3">
        <div class="p-skill__pie__chartRate">60%</div>
      </figure>
    </div>
    <div class="card card--current" id="4">
      <div class="card__txtWrap">
        <p class="card__ttl">Illustrator</p>
        <p class="card__txt">
          ・素材を合成したグラフィックの作成<br>
          ・企業ロゴの作成<br>
          ・名刺デザイン
        </p>
      </div>
      <figure class="p-skill__pie chart--4">
        <div class="p-skill__pie__chartRate">30%</div>
      </figure>
    </div>
    <div class="card card--current" id="5">
      <div class="card__txtWrap">
        <p class="card__ttl">Photoshop</p>
        <p class="card__txt">
          好みの具合に編集が可能
        </p>
      </div>
      <figure class="p-skill__pie chart--5">
        <div class="p-skill__pie__chartRate">30%</div>
      </figure>
    </div>
  </div>


  <div class="c-parts">03 &emsp;
    <h2 class="c-parts__ttl">Skill set</h2>
  </div>

</section>
